* {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: rgba(217,17,27,0.5);
}
.content-wrapper {
  position: relative;
  padding: 24px 12px 18px 24px;
  font-size: 0;
}
.content-wrapper .avatar {
  display: inline-block;
  vertical-align: top;
}
.content-wrapper .avatar img {
  border-radius: 2px;
}
.content-wrapper .content {
  display: inline-block;
  margin-left: 16px;
}
.content-wrapper .content .title {
  margin: 2px 0 8px 0;
}
.content-wrapper .content .title .brand {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 18px;
  background-image: url("brand@2x.png");
  background-size: 30px 18px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .content-wrapper .content .title .brand {
    background-image: url("brand@3x.png");
  }
}
.content-wrapper .content .title .name {
  margin-left: 6px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.content-wrapper .content .description {
  margin-bottom: 10px;
  line-height: 12px;
  font-size: 12px;
}
