// .cell
//     border-top 1px solid red
//     border-right 1px solid red
//     width 20px
//     height 20px
//     transform: rotate(45deg)
*
    margin 0
    padding 0
.weui-cell
    padding 16px
    text-decoration none
    position relative
    display flex
    .weui-cell__bd
        flex 1  //除了兄弟元素以外的空间全拿
        background-color red
    .weui-cell__ft
        padding-right 22px
        position relative
        // &::after
        //     content '结束伪元素'
        // &::before
        //     content '开始伪元素'
        &::after
            content ''
            width 12px
            height 12px
            border 1px solid rgba(0,0,0,.5)
            border-bottom none 
            border-left none
            transform rotate(45deg)
            position absolute
            top 2px
